body {
  background-image: url(./assets/image/fondo.jpg);
  background-size: cover; /* Resize the background image to cover the entire container*/
  
}

/* Responsive para celular */
@media (max-width:700px) {
    /* body{
      background-image: none;
      background-color: rgb(255, 202, 255);
    } */

}