.home-row {
  display: flex;
  flex-direction: row;
}

.column1 {
  width: 25%;
  background-color: #e9ebee;
  /* background-color: turquoise; */
}

.muro {
  width: 50%;
  height: 600px;
  overflow-y: scroll;
  background-color: #e9ebee;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.publicidad {
  height: 610px;
  background-color: #e9ebee;
  display: flex;
  flex-direction: column;
  width: 25%;
 

}
.header-publidad {
  display: flex;
  justify-content: space-between;
}

.contenido-publicidad {
  background-color: #ffffff;
  padding: 10px;
  margin: 8em 10px 10px 10px;
  border-radius: 10px;
}
