

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  background-image: url(../image/makeup1.jpg);
  background-size: cover;
  
}
.title-login {
  color: #964f4e;
  margin-top: 1em;
  font-size: 32px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23em;
  /* background-color: rgba(000, 000, 000, 0.4); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.input-form {
  margin: 10px 10px;
}
.btn-form {
  margin: 7px 0px;
}

.input-login {
  width: 20em;
  border-radius: 10px;
  border-style: none;
  padding: 5px;
}
.btn-google {
  background-color: #ec6d84;
  width: 20em;
  height: 2em;
  border-radius: 10px;
  border-style: none;
  color: white;
}
.btn-login {
  width: 20em;
  height: 2em;
  background: #dbaf94;
  border-radius: 10px;
  border-style: none;
  color: white;
}
.recoverPass-createAccount{
  color: #5e505b;
  margin-bottom: 10px; 
  border: none;
  background-color: transparent;
}

.recoverPass-createAccount:hover{
  color: #964f4e;
}


