.container-nav {
  display: flex;
  justify-content: flex-end;
  background: #ed8857;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  height: 5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  width: 100%;
}

.item-perfil {
  font-size: 20px;
  margin-right: 2em;
  display: flex;
  align-self: center;
  align-items: center;
}

.item-salir {
  font-size: 21px;
  margin-right: 1em;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
}
.item-salir:hover{
  background-color: #ed8857;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

}
.item-salir p{
  margin: 0px;
  margin-right: 1em;
}
.salir{
  font-size: 1.5em;
}



label {
  display: none;
}

#toggle {
  display: none;
}

@media (max-width: 700px) {
  label {
    display: block;
    background-color: teal;
    margin: 0px;
    height: 3rem;
  }

  #toggle:checked ~ .container-nav {
    display: block;
    margin: 0;
    background-color: rgba(000, 000,000, 0.2);
    padding: 10px;
  }

  .container-nav {
    display: none;
    height: 7em;
  }

  .item-perfil {
    margin-top: 10px;
  }
  
  .item-salir {
      margin-top: 10px;
  }
}
