.container-nav{
    display: flex;
    justify-content: flex-end;
    background-color: teal;
    height: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item-perfil{
    font-size: 20px;
    margin-right: 2em;
    display: flex;
    align-self: center;
    align-items: center;
}

.item-salir{
    font-size: 20px;
    margin-right: 2em;
    display: flex;
    align-self: center;
    align-items: center;
}

