
.input-read{
    resize: none;
    justify-content: center;
    width: 35em;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.header-post{
    display: flex;
    margin-bottom: 10px;
}
.name-date{
    flex-direction: column;
    display: flex;
    margin-left: 10px;
}
.text-post{
    max-height: 10em;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: #964f4e;
    font-family: 'Open Sans', sans-serif;
}
.dateStamp {
    font-size: 10px;
    color: #555555;
}
.container-options{
    display: flex;
    font-size: 13px;
    color: #555555;
    align-items: center;
    
}
.container-like{
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: space-between;
}
.like{
       margin-right: 5px;
}
.like:hover{
    color: #964f4e;
    
}
hr {
    margin-top: 10px;
    margin-bottom: 12px;
}

.editar{
    margin-right: 5px;
    cursor: pointer;
}
p {
    margin: 0px;
}


/* Responsive para celular */
@media (max-width: 700px) {
    .input-post {
        width: 210px;
        height: 72px;
        margin-left: 10px;
        padding-left: 5px;
    }

}