body {
    background-color: white;
}

.container-post{
    display: flex;
    justify-content: center;
    padding-top: 5em;
    flex-direction: column;
    align-items: center;
}
.container-posts{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    align-items: center;
    flex-wrap: wrap;
}

.photo-post{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.photo-post-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.input-post{
    resize: none;
    justify-content: center;
    width: 25em;
    height: 6em;
    margin: 1em;
    padding: 1em;
    background-color: #f1f1f1;
    border-radius: 0.5em;
    border-style: ridge;
}


.publicar{
    display: flex;
    width: 22em;
    justify-content: flex-end;
    color: grey;
    font-size: large;
    
}

.publicar:hover{
    color: #964f4e;
    cursor: pointer;

}

/* Responsive para celular */
@media (max-width: 700px) {
    .input-post {
        width: 210px;
        height: 72px;
        margin-left: 10px;
        padding-left: 5px;
    }

    .publicar{
        width: 14em;
    }
    

}