body {
    background-color: white;
}

.container-post{
    display: flex;
    width: 35em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    margin: 10px;
    border-radius: 10px;
}


.photo-post-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.input-post{
    resize: none;
    width: 35em;
    margin: 1em;
    padding-left: 10px ;
    background-color: white;
    border-style: none;
    
}


.publicar{
    display: flex;
    width: 30em;
    justify-content: flex-end;
    padding-bottom: 10px;
    font-size: large; 
}
.publicar button{
    border-style: none;
    color: #555555
}
.publicar button:hover{
    color: white;
    background-color:  #964f4e;
    cursor: pointer;
    border-radius: 20px;

}

/* Responsive para celular */
@media (max-width: 700px) {
    .input-post {
        width: 210px;
        height: 72px;
        margin-left: 10px;
        padding-left: 5px;
    }

    .publicar{
        width: 14em;
    }
    

}